.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  :root {
    color: #3094eb;
    background-color: #0f0000;
    margin:10px;
  }
  
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr,1fr, 1fr;
  gap: 1px;
  margin:1px;
  grid-auto-rows: minmax(100px, auto);
  border: 1px solid rgb(231, 239, 164);
  border-radius : 3px;
  text-align: center;
  
}
.head1 {
  grid-column: 1/4 ;
  grid-row: 1;
  gap: 1px;
  margin:2px;
  padding:3px;
  text-align: center;
  border: 1px solid rgb(231, 239, 164);
}
.pre {
  grid-column: 1/4 ;
  grid-row: 2;
  margin:1px;
  border: 1px solid rgb(231, 239, 164);
}
.one {
  grid-column: 1 ;
  grid-row: 3;
  margin:1px;
  border: 1px solid rgb(231, 239, 164);
}
.two {
  grid-column: 2 ;
  grid-row: 3;
  margin: 1px;
  border: 1px solid white;
}
.three {
  grid-column: 3 ;
  grid-row: 3;
  margin: 1px;
  border: 1px solid white;
}
.four {
  grid-column: 4 ;
  grid-row: 3;
  margin: 1px;
  border: 1px solid white;
}